.dash-Dashboard{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
}

.dash-leftContainer{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding:10px 0;
    padding-top:20px;
   
}
.dash-leftContainer button {
    font-size:15px; 
    color:black;
    letter-spacing: 2px;
    border:none;
    outline: none;
    margin-top:10px;
    font-weight:bolder;
    background-color: rgb(222, 231, 231);
    width: 90%;
    padding: 5% 0%;
    border-radius: 10px;
}

.dash-leftContainer button:hover {
    background-color: aliceblue;
}

.dash-eventBtn{
    box-sizing: border-box;
    width: 100%;
    padding: 5%;

    padding: 5% 2%;
}

.dash-rightContainer{
   
    width: 80%;
    height: 100%;
}

.dash-AllEventsList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.dash-subCard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dash-subCard div{
    margin:4%;
}

@media only screen and  (max-width : 700px) {
    .dash-Dashboard{
        flex-direction: column;
    }
    .dash-leftContainer{
        border-bottom: 2px solid rgb(223, 217, 217);
      height:auto;
        column-gap:10px;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom:10px;
    }
    .dash-rightContainer{
        border-left: 0px;
        width: 100%;
     
    }
    .dash-leftContainer button {
        padding: 10px 0%;
        border-radius: 0px;
    }
    .dash-eventBtn{
        padding: 1% 2%;
    }
}