*{
    margin:0px;
}

.CardMain{
    padding: 10px;
}

.CardMain section{
    padding: 10px 0px;
}
.CardMain :nth-child(4){
    border-bottom: 0px ;
    padding: 10px 0px;
}
.heading{
    padding-bottom: 10px;
}

.info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SubInfo{
    width: 50%;
}